<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513433768158-lon2dnffbbr0mqs07gfhrbpdc67niis6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513433768158-lon2dnffbbr0mqs07gfhrbpdc67niis6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>513433768158-j83uierrln2qmsh32cgenvtcptlbs167.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCa64LG8P7duQlXF7JIGMX9vz5re1UGlKU</string>
	<key>GCM_SENDER_ID</key>
	<string>513433768158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instx</string>
	<key>PROJECT_ID</key>
	<string>instx-72196</string>
	<key>STORAGE_BUCKET</key>
	<string>instx-72196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513433768158:ios:44f0c10345d14f6bee724f</string>
</dict>
</plist>